<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Sport Selection</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>{{ sport_name }} Matches</h1>-->
<!--    {% if matches %}-->
<!--        <ul>-->
<!--        {% for match in matches %}-->
<!--            <li>{{ match.event_home_team }} vs {{ match.event_away_team }} - {{ match.event_date }}</li>-->
<!--        {% endfor %}-->
<!--        </ul>-->
<!--    {% else %}-->
<!--        <p>No upcoming matches found.</p>-->
<!--    {% endif %}-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html>
<head>
    <title>Sport Selection</title>
    <style>
        body {
            background-color: #f1f1f1;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 10px;
        }

        p {
            text-align: center;
            font-weight: bold;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>{{ sport_name }} Matches</h1>
    {% if matches %}
        <ul>
        {% for match in matches %}
            <li>{{ match[2] }} - {{ match[5] }}</li>
        {% endfor %}
        </ul>
    <a href = '/ginie_bet_matches'>ginie_bet</a>
    {% else %}
        <p>No upcoming matches found.</p>
    {% endif %}
</body>
</html>
